{% load static %}

{% block body %}

{% include "admin_navigation.html" %}
<style>
.btn {
  background-color: maroon;
  color: white;
  margin-top : 0.5%;
  height : 40px;
  font-weight : bold;
}

.btn:hover {
  background-color: red; 
}

</style>
<marquee style="font-family : Monotype Corsiva; font-size : 30px; color: darkcyan; background-color: black; font-weight: bold; margin-top : 0.25%">
    Change Password - Admin
</marquee>

<form  class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input  type="password" class="form-control" name="currentpassword" required>

    <label><b>New Password</b></label>
    <input  type="password" class="form-control" name="newpassword" required>

    <label><b>Confirm New Password</b></label>
    <input  type="password" class="form-control" name="confirmnewpassword" required>
    
  <input class="btn btn-primary mt-3" type="submit" value="Submit">
</form>
{% if error == "no" %}
<script>
    alert("Your Password has been changed successfully");
    window.location = ('{% url "Logout" %}')
</script>

{% elif error == "yes" %}
<script>
    alert("Something went wrong , Try Again....");
</script>

{% elif error == "not" %}
<script>
    alert("Your Current password is wrong , Try Again....");
</script>
{% endif %}



{% comment %} Function For Comparing Create password and Confirm password {% endcomment %}
<script>
function checkpass(){
    if (document.changepassword.newpassword.value!= document.changepassword.confirmnewpassword.value) {
        alert("Passwords does'nt match");
        document.changepassword.confirmnewpassword.focus();
        return false;
    }
    else{
        return true;
    }
}
</script>
{% endblock  %}