{% load static %}

{% block body %}

{% include "navigation.html" %}
<style>
.btn {
  background-color: maroon;
  color: white;
  {% comment %} margin-bottom : 2%;
  height : 40px; {% endcomment %}
}

.btn:hover {
  background-color: red; 
}

</style>
<marquee style="font-family : Monotype Corsiva; font-size : 30px; color: darkcyan; background-color: black; font-weight: bold; margin-top : 0.25%">
     Latest Jobs
</marquee>


<div class="container mt-3">
<table id="example" class="table table-hover ">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for d in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.recruiter.company}}</td>
            <td>{{d.title}}</td>
            <td>{{d.start_date}}</td>
            <td>{{d.end_date}}</td>
            <td>{{d.location}}</td>
            <td><a href="{% url 'user_login' %}" class="btn btn-primary mr-2" role="button">Login To Apply</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}