{% load static %}

{% block body %}
{% include "navigation.html" %}

<style>
.btn {
  background-color: maroon;
  color: white;
  margin-bottom : 2%;
  height : 40px;
  font-weight : bold;
}

.btn:hover {
  background-color: red; 
}

</style>
<marquee style="font-family : Monotype Corsiva; font-size : 30px; color: darkcyan; background-color: black; font-weight: bold; margin-top : 0.25%">
    User SignUp
</marquee>

<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="fname"><b>First Name</b></label>
        <input type="text" class="form-control" name="fname" placeholder="Enter first name"required>
    </div>
     <div class="form-group col-md-6">
        <label for="lname"><b>Last Name</b></label>
        <input type="text" class="form-control" name="lname" placeholder="Enter last name" required>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12">
        <label for="contact"><b>Contact Number</b></label>
        <input type="text" class="form-control" name="contact" placeholder="Phone number" required>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12">
        <label for="email"><b>Email Address</b></label>
        <input type="email" class="form-control" name="email" placeholder="Email Address" required>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="password1"><b>Create Password</b></label>
        <input type="password" class="form-control" name="password1" placeholder="Create a password" required>
    </div>
     <div class="form-group col-md-6">
        <label for="password2"><b>Confirm Password</b></label>
        <input type="password" class="form-control" name="password2" placeholder="Enter password again" required>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label><b>Gender</b></label><br>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" required>
            <label class="custom-control-label" for="customRadioInline1">Male</label>
        </div>

         <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female" required>
            <label class="custom-control-label" for="customRadioInline2">Female</label>
        </div>
    </div>
     <div class="form-group col-md-6">
       <label for="image"><b>Image</b></label>
       <input type="file" class="form-control" name="image" required>
    </div>
</div>
<input type="submit" value="Submit" class="btn btn-primary">
</form>
<script>

{% comment %} Function For Comparing Create password and Confirm password {% endcomment %}
function checkpass(){
    if (document.signup.password1.value!= document.signup.password2.value) {
        alert("Passwords does'nt match");
        document.signup.password2.focus();
        return false;
    }
    else{
        return true;
    }
}
</script>


{% if error == "no" %}
<script>
    alert("Signup Successful");
    window.location = ('{% url "user_login" %}')
</script>
{% elif error == "yes" %}
<script>
    alert("Something went wrong, Try Again....");
</script>
{% endif %}
{% endblock %}